html {
  background: #e0e5ec;
}

.sidebar {
  width: 450px;
  min-height: 100vh;
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
  padding: 0 30px;
}

.neumo {
  margin: 25px;
  border-radius: 25px;
  background: #eff2f5;
  box-shadow: 10px 10px 20px #bfc2c4, -10px -10px 20px #ffffff;
}
